.Grid {
  position: absolute;
  top: -20px;
  left: 320px;
}

.GridStripe {
  position: absolute;
  opacity: 80%;
  width: 200vmax;
  height: 40px;
  background-color: #dd88aa44;
}

  .GridStripe:hover {
    opacity: 100%;
  }

  .Grid:has(#GridIntersect0_0:hover, #GridIntersect80_0:hover) > #GridRow0 {
    opacity: 100%;
  }

  .Grid:has(#GridIntersect0_80:hover, #GridIntersect80_80:hover) > #GridRow80 {
    opacity: 100%;
  }

  .Grid:has(#GridIntersect0_0:hover, #GridIntersect0_80:hover) > #GridColumn0 {
    opacity: 100%;
  }

  .Grid:has(#GridIntersect80_0:hover, #GridIntersect80_80:hover) > #GridColumn80 {
    opacity: 100%;
  }

.GridIntersect {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0%;
}
