.Map {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 230px;
}

.MapPanel {
  width: 100px;
  height: 100%;
}

#LeftMapPanel {
  background-color: #f8e8c8;
}

#CenterMapPanel {
  width: 150px;
  background-color: #f6e2b8;
}

#RightMapPanel {
  background-color: #f6d8a8;
}

.MapLocation {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f15;
}

  .MapLocation:hover {
    background-color: #e15;
  }

.MapLocationPoint {
  position: absolute;
  transform: translate(5px, 5px) rotate(45deg) translate(5px, 5px);
  width: 10px;
  height: 10px;
  background-color: inherit;
}

.MapLocationDot {
  position: absolute;
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: white;
}

.MapRiver {
  position: absolute;
  transform: translateX(300px) rotate(150deg);
  opacity: 50%;
  background-color: #00bfff22;
  width: 400vmax;
  height: 130px;
}

.MapRiverInner {
  position: absolute;
  width: 100%;
  height: 65px;
  background-color: #00bfff22;
}