.Orb {
  position: absolute;
  left: 380px;
  top: 280px;
  opacity: 60%;
}

  .Orb:has(#OrbGlow0:hover) {
    opacity: 90%;
  }

  .Orb:has(#OrbGlow1:hover) {
    opacity: 80%;
  }

  .Orb:has(#OrbGlow2:hover) {
    opacity: 70%;
  }

.OrbGlow {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #ffd80066;
  border-radius: 100%;
}
