.SunRay {
  position: absolute;
  width: 0;
  height: 0;
  border: solid 20px;
  border-color: #ff7777 transparent transparent transparent;
}

.SunBeam {
  position: absolute;
  opacity: 50%;
  width: 200vmax;
  height: 130px;
  background-color: #f6b86b44;
}

  .SunBeam:hover {
    opacity: 70%;
  }

.SunBeamInner {
  position: relative;
  top: 30px;
  width: 100%;
  height: 70px;
  background-color: #f6b86b77;
}

.SunCenter {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 150px;
  height: 150px;
  background-color: #ff7777;
  border-radius: 50%;
}

