.Telescope {
  position: relative;
  left: 30vmax;
  top: calc(65px + 12vmax);
}

#DefaultTelescopeAngle {
  position: absolute;
  transform: rotate(190deg);
  opacity: 1;
}

  .Telescope:has(.TelescopeAngle:hover) > #DefaultTelescopeAngle {
    opacity: 0;
  }

.TelescopeAngle {
  position: absolute;
  opacity: 0;
}

  .TelescopeAngle:hover {
    opacity: 1;
  }

.TelescopeBeam {
  position: absolute;
  width: 200vmax;
  height: 130px;
  background-color: #ffe85033;
}

.TelescopeBeamInner {
  position: relative;
  top: 30px;
  width: 100%;
  height: 70px;
  background-color: #ffe85055;
}

.TelescopeMain {
  position: absolute;
  background-color: white;
  transform: translateX(500px);
}

.TelescopeBody {
  position: absolute;
  top: 0;
  left: -930px;
  width: 1000px;
  height: 130px;
  background-color: white;
}

.TelescopeHead {
  position: absolute;
  left: 70px;
  top: -10px;
  width: 30px;
  height: 150px;
  background-color: darkslategray;
}

.TelescopeStand {
  position: relative;
  top: -10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: darkslategray;
}

.TelescopeStandLeg {
  position: absolute;
  width: 10px;
  height: 800px;
  background-color: darkslategray;
}