.Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Text {
  width: 375px;
  z-index: 2;
}

.Text a {
  color: inherit;
  text-decoration: none;
}

.Heading span {
  font-size: 24px;
}

.Description {
  padding: 5px;
}

.Description p {
  padding: 5px;
}

.ContentPadding {
  position: relative;
  width: 5vw;
}

.Image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media screen and (max-width: 900px) {
  .Text {
    position: absolute;
  }

  .ContentPadding {
    width: 30vw;
  }

  .Image {
    position: relative;
    opacity: 50%;
  }
}

@media screen and (max-width: 650px) {
  .Text {
    width: 70vw;
    left: 15vw;
    font-size: 15px;
  }

  .Heading {
    font-size: 26px;
  }

  .Heading span {
    font-size: 20px;
  }

  .Description p {
    line-height: 1.25;
  }

  .Image {
    opacity: 25%;
  }

  .ContentPadding {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .Text {
    width: 85vw;
    left: 7.5vw;
    font-size: 14px;
  }

  .Heading {
    font-size: 22px;
  }

  .Heading span {
    font-size: 16px;
  }
}
