.Content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Text {
  width: 375px;
  z-index: 2;
}

.Text a {
  color: inherit;
  text-decoration: none;
}

.Heading a {
  display: flex;
  align-items: flex-start;
}

.Heading span {
  font-size: 14px;
  margin: 5px 10px;
}

.Description {
  padding: 5px;
}

.Description p {
  padding: 5px;
}

.ContentPadding {
  position: relative;
  width: 5vw;
}

.Image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 350px;
  border-radius: 50%;
}

@media screen and (max-width: 1200px) {
  .Content {
    align-items: flex-end;
  }

  .Text {
    position: absolute;
    width: 350px;
    left: 15vw;
  }

  .Heading {
    font-size: 28px;
  }

  .Description p {
    line-height: 1.25;
  }

  .Image {
    position: relative;
    transform: translate(17vw, -10vh) scale(0.8);
  }

  .ContentPadding {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .Text {
    left: 12vw;
    font-size: 15px;
  }

  .Heading {
    font-size: 26px;
  }

  .Image {
    transform: translate(17vw, -10vh) scale(0.7);
  }
}

@media screen and (max-width: 450px) {
  .Text {
    width: 250px;
    left: 7.5vw;
    font-size: 14px;
  }

  .Heading {
    font-size: 23px;
  }

  .Image {
    transform: translate(17vw, -17vh) scale(0.6);
  }
}

@media screen and (max-width: 300px) {
  .Text {
    width: 85vw;
  }
}
