.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  overflow: hidden;
}

.Light {
  background-color: antiquewhite;
  color: black;
}

.Dark {
  background-color: #073763;
  color: white;
}

h1, h2, p {
  margin: 0;
  padding: 10px;
}

p {
  line-height: 1.55em;
}

.Action {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  padding: 10px;
}

.Action p, .Action h2 {
  padding: 0;
}

.Action p {
  font-size: 14px;
}

#LeftAction {
  align-items: flex-end;
}

#RightAction {
  align-items: flex-start;
}

#Logo {
  cursor: pointer;
}

header {
  display: flex;
  width: 85%;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px;
}

footer {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 20px;
}